
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  min-height: 30rem;
}
form {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(59, 82, 158, 0.301);
  background-color:rgb(25, 110, 160);
}

.name-field {
  margin-bottom: 40px;
 
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(59, 82, 158, 0.301);
  background-color: rgb(25, 110, 160);
  color: rgba(255, 255, 255, 0.644);
}

h3 {
  color: #1d1717;
}

span {
  color: black;
}
.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(25, 110, 160);
  color: #fff;
}